PORT=3000
MONGODB_USER=yourUser
MONGODB_PASSWORD=yourPassword
MONGODB_URL=cluster0.mongodb.net
MONGODB_DB=contacts_db

JWT_ACCESS_SECRET=MySuperSecretKeyForAccessToken111111111
JWT_REFRESH_SECRET=AnotherVerySecretKeyForRefreshToken24152148741


JWT_SECRET=111555111
APP_DOMAIN=http://localhost:3000/auth
SMTP_HOST=smtp-relay.brevo.com
SMTP_PORT=587
SMTP_USER=your_brevo_smtp_user
SMTP_PASSWORD=your_brevo_smtp_password
SMTP_FROM=your_brevo_email
CLOUDINARY_CLOUD_NAME=your_cloudinary_cloud_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret
