PORT=3000
MONGODB_USER=yourUser
MONGODB_PASSWORD=yourPassword
MONGODB_URL=cluster0.mongodb.net
MONGODB_DB=contacts_db

JWT_ACCESS_SECRET=MySuperSecretKeyForAccessToken111111111
JWT_REFRESH_SECRET=AnotherVerySecretKeyForRefreshToken24152148741